/*1 afsnit*/
#Tema_5_overskrift_intro {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.1fr 0.3fr 0.2fr 2fr;
}

.Overskrift_1_h2 {
  grid-column: 1/4;
  grid-row: 1;
  font-size: 2em;
  margin-top: 10px;
  margin-left: 6px;
}

.Overskrift_2_h2 {
  grid-column: 1/4;
  grid-row: 2;
  font-size: 2em;
  margin-left: 6px;
}

#Tema_5_overskrift_intro img {
  width: 355px;
  grid-column: 1/4;
  grid-row: 3;
  margin: 5px 8px;
}

#Tema_5_overskrift_intro p {
  grid-column: 1/4;
  grid-row: 4;
  font-size: 1.1em;
  margin: 9px 10px;
}

#Tema_5_overskrift_intro ul {
  font-family: "Gilda Display", serif;
  line-height: 25px;
  grid-column: 1/4;
  grid-row: 5;
  font-size: 1em;
  margin: 9px 0px;
}

/*2 afsnit*/
#afsnit_2_tema_5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr;
}

#afsnit_2_billede_1 {
  width: 355px;
  grid-column: 1/4;
  grid-row: 1;
  margin: 5px 8px;
}

#afsnit_2_billede_2 {
  width: 355px;
  grid-column: 1/4;
  grid-row: 2;
  margin: 5px 8px;
}

#afsnit_2_tema_5 h3 {
  grid-column: 1/4;
  grid-row: 3;
  font-size: 1.8em;
  margin-top: 30px;
  margin-left: 6px;
}

#afsnit_2_tema_5 p {
  grid-column: 1/4;
  grid-row: 4;
  font-size: 1.1em;
  margin: 9px 10px;
}

#afsnit_2_tema_5 a {
  grid-column: 1/4;
  grid-row: 5;
  width: 200px;
  height: 150px;
  aspect-ratio: 468/465;
  margin-left: 114px;
  margin-bottom: 45px;
}

/*3 afsnit*/
#afsnit_3_tema_5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
}

#afsnit_3_billede_1 {
  width: 355px;
  grid-column: 1/4;
  grid-row: 1;
  margin: 5px 8px;
}

#afsnit_3_tema_5 h3 {
  grid-column: 1/4;
  grid-row: 2;
  font-size: 1.8em;
  margin-top: 30px;
  margin-left: 6px;
}

#afsnit_3_p_1 {
  grid-column: 1/4;
  grid-row: 3;
  font-size: 1.1em;
  margin: 9px 10px;
}

#afsnit_3_tema_5 a {
  grid-column: 1/4;
  grid-row: 4;
  width: 200px;
  height: 150px;
  aspect-ratio: 468/465;
  margin: 5px 0px;
  margin-left: 114px;
}

#afsnit_3_p_2 {
  grid-column: 1/4;
  grid-row: 5;
  font-size: 1.1em;
  margin: 9px 10px;
}

#afsnit_3_billede_2 {
  width: 263px;
  grid-column: 1/4;
  grid-row: 6;
  margin: 5px 8px;
  margin-left: 52px;
}

/*4 afsnit*/
#Refleksion_tema_5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.1fr;
}

#Refleksion_tema_5 h3 {
  grid-column: 1/4;
  grid-row: 1;
  font-size: 1.8em;
  margin-top: 30px;
  margin-left: 6px;
}

#Refleksion_tema_5 p {
  grid-column: 1/4;
  grid-row: 2;
  font-size: 1.1em;
  margin: 9px 10px;
}
